.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 150px;
}

.navbar-section {
    display: flex;
    align-items: center;
    gap: 30px;
    text-transform: uppercase;
}

.navbar-section label {
    margin-right: 5px;
    font-size: 12px;
    font-weight: bold;
}

select {
    padding: 4px;
    font-size: 12px;
}

.un-stitched {
    margin: 0 10px;
    font-size: 12px;
    font-weight: bold;
}

.logo {
    text-align: center;
}

.logo h1 {
    font-size: 22px;
    font-weight: bold;
    color: goldenrod;
    text-align: center;
    text-transform: uppercase;
}

.logo1 {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-item {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
}

.menu-item:hover {
    color: red;
}

.dropdown-icon {
    margin-left: 5px;
    font-size: 15px;
}

.cart-icon {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.user-icon {
    font-size: 15px;
    cursor: pointer;
}

.search-icon {
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-right: -5px;
}

.user-icon, .cart-icon {
    margin-left: -5px;
}

.search-icon:hover, .user-icon:hover, .cart-icon:hover {
    color: black;
}

.menu-item.active {
    color: red;
    font-weight: bold;
}