.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    box-sizing: "border-box";
    margin-top: -50px;
}

.slideshow-container img {
    width: 100%;
    display: block;
    box-sizing: "border-box";
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-button {
    border-radius: 50%;
    margin-left: 10px;
}

.next-button {
    border-radius: 50%;
    margin-right: 10px;
}